if SHIELD_TBKMINI_LEFT
    config ZMK_KEYBOARD_NAME
        default "tbkmini"
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_TBKMINI_LEFT || SHIELD_TBKMINI_RIGHT
    config ZMK_BLE # Needs to be explicit
        default y
    config ZMK_SPLIT
        default y
    config ZMK_SLEEP
        default y
    config ZMK_IDLE_SLEEP_TIMEOUT
        default 300000
    config ZMK_MOUSE
        default y
    config BT_PERIPHERAL_PREF_MIN_INT
        default 24
    config BT_PERIPHERAL_PREF_MAX_INT
        default 48
    config ZMK_IDLE_SLEEP_TIMEOUT
        default 600000
endif
