// Note, to use with Miryoku, this file needs to be deleted to not override Miryoku's keymap
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &none  &kp Q      &kp W      &kp F       &kp P         &kp B       /* split */  &kp J       &kp L        &kp U       &kp Y      &kp SQT    &none
                &none  &kp A      &kp R      &kp S       &kp T         &kp G       /* split */  &kp M       &kp N        &kp E       &kp I      &kp O      &none
                &none  &kp Z      &kp X      &kp C       &kp D         &kp V       /* split */  &kp K       &kp H        &kp COMMA   &kp DOT    &kp FSLH   &none
                                             &kp ESC     &kp SPACE     &kp TAB     /* split */  &kp RET     &kp BSPC     &kp DOT
            >;
        };
    };
};
